@model ChatBotViewModel

@{
    ViewData["Title"] = "ChatBot";
}

<iframe 
    title="chatbot"
    width="500"
    height="500"
    style="border: 1px solid black;width:100%"
    src="@Model.Url">
</iframe>


<form>
    <label for="convKey">Conversation Key :</label>
    <input type="text" id="convKey" name="convKey" value="@Model.ConvKey" />

    <label for="userName">User name :</label>
    <input type="text" id="userName" name="userName" value="@Model.UserName" />

    <input type="submit" value="Changer" />
</form>